<div class="page">
  <!-- <div class="top"> -->
    <div class="timetext inline row" >
      <h4 style="margin-left: 10px;">{{currentTime}}</h4>
      <div class="icons" style="margin-left: 250px;">
      <img class="icons" src="../assets/battery.png"   >
      <img class="icons" src="../assets/signal.png">
      <img class="icons"src="../assets/wifi.png">
      </div>
    <!-- </div> -->
    </div>
    <div >
      <img src="../assets/header.png">
    </div>
    <div class="text">
      <h1><span class="innertext">Welcome, </span>June!</h1>
    </div>
  <div class="firstCarousel">
    <img class="carouselimage" src="../assets/Group 19566topimage1.png">
    <img class="carouselimage" src="../assets/Group 19567topimage2.png">
    <img class="carouselimage" src="../assets/Group 19568topimage4.png">
    <img  src="../assets/Group 19569topcarousel.png">
  </div>
  
</div>